In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv")
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
data = data.drop(['customerID'], axis=1)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
data['TotalCharges'] = data['TotalCharges'].replace(' ', np.nan)
data['TotalCharges'] = data['TotalCharges'].astype('float')
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [5]:
data.dropna(axis=0, inplace=True)

In [6]:
data.to_csv("../data/processed/data_clean.csv", index=False)

In [110]:
categorical_features = data.select_dtypes(include=['object']).columns.tolist()
le = LabelEncoder()
for feature in categorical_features:
    data[feature] = le.fit_transform(data[feature])
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50,0
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90,0
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60,1
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50,0

In [111]:
X = data.drop('Churn', axis=1)
y = data['Churn']
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
print(f"Training data shape : {xtrain.shape}")
print(f"Testing data shape : {xtest.shape}")

Training data shape : (5625, 19)
Testing data shape : (1407, 19)

In [112]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(xtrain, ytrain)
importances = rf_model.feature_importances_
indices = np.argsort(importances)[::-1]
threshold = 0.03
importances_features = [i for i in range(len(importances)) if importances[i] >= threshold]
print(f"Features with importance greater than {threshold} :")
for i in importances_features:
    print(f"{xtrain.columns[i]} : {importances[i]}")

Features with importance greater than 0.03 :
tenure : 0.1598408917399057
OnlineSecurity : 0.04849884297227034
TechSupport : 0.042113747203317856
Contract : 0.08168861650908033
PaymentMethod : 0.05020200234195478
MonthlyCharges : 0.1760290857644137
TotalCharges : 0.18490839509127066

In [113]:
importance_features = xtrain.columns[importances_features]
xtrain = xtrain[importance_features]
xtest = xtest[importance_features]
xtrain, xtest

(      tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 1413      65               2            2         2              1
 7003      26               0            2         0              2
 3355      68               0            2         2              1
 4494       3               0            0         0              2
 3541      49               2            0         0              0
 ...      ...             ...          ...       ...            ...
 3451      65               0            0         1              0
 5123      15               0            0         0              1
 4135      36               2            2         2              1
 4249      10               0            0         1              3
 1505       1               0            0         0              2

       MonthlyCharges  TotalCharges
 1413           94.55       6078.75
 7003           35.75       1022.50
 3355           90.20       6297.65
 4494           84.30        235.05
 3541           40.65       2070.75
 ...              ...           ...
 3451           70.95       4555.20
 5123           75.30       1147.45
 4135           92.90       3379.25
 4249           65.90        660.05
 1505           74.70         74.70

 [5625 rows x 7 columns],
       tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 974       59               0            2         2              1
 619        7               0            0         0              0
 4289      54               1            1         2              3
 3721       2               1            1         0              3
 4533      71               0            0         2              0
 ...      ...             ...          ...       ...            ...
 4829      12               0            0         0              0
 5176      26               2            2         0              3
 2750       3               1            1         1              3
 4432      37               2            2         2              3
 2091      50               1            1         2              1

       MonthlyCharges  TotalCharges
 974            75.95       4542.35
 619            78.55        522.95
 4289           20.10       1079.45
 3721           20.65         38.70
 4533          105.15       7555.00
 ...              ...           ...
 4829           45.00        524.35
 5176           45.80       1147.00
 2750           19.45         69.25
 4432           40.55       1390.85
 2091           20.15        970.85

 [1407 rows x 7 columns])

In [114]:
numerical_features = xtrain.select_dtypes(include=['int64', 'float64']).columns.tolist()
scaler = MinMaxScaler()
xtrain[numerical_features] = scaler.fit_transform(xtrain[numerical_features])
xtest[numerical_features] = scaler.transform(xtest[numerical_features])
xtrain, xtest

(        tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 1413  0.901408             1.0          1.0       1.0       0.333333
 7003  0.352113             0.0          1.0       0.0       0.666667
 3355  0.943662             0.0          1.0       1.0       0.333333
 4494  0.028169             0.0          0.0       0.0       0.666667
 3541  0.676056             1.0          0.0       0.0       0.000000
 ...        ...             ...          ...       ...            ...
 3451  0.901408             0.0          0.0       0.5       0.000000
 5123  0.197183             0.0          0.0       0.0       0.333333
 4135  0.492958             1.0          1.0       1.0       0.333333
 4249  0.126761             0.0          0.0       0.5       1.000000
 1505  0.000000             0.0          0.0       0.0       0.666667

       MonthlyCharges  TotalCharges
 1413        0.759601      0.699279
 7003        0.173067      0.115820
 3355        0.716209      0.724538
 4494        0.657357      0.024954
 3541        0.221945      0.236782
 ...              ...           ...
 3451        0.524190      0.523471
 5123        0.567581      0.130239
 4135        0.743142      0.387774
 4249        0.473815      0.073996
 1505        0.561596      0.006450

 [5625 rows x 7 columns],
         tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 974   0.816901             0.0          1.0       1.0       0.333333
 619   0.084507             0.0          0.0       0.0       0.000000
 4289  0.746479             0.5          0.5       1.0       1.000000
 3721  0.014085             0.5          0.5       0.0       1.000000
 4533  0.985915             0.0          0.0       1.0       0.000000
 ...        ...             ...          ...       ...            ...
 4829  0.154930             0.0          0.0       0.0       0.000000
 5176  0.352113             1.0          1.0       0.0       1.000000
 2750  0.028169             0.5          0.5       0.5       1.000000
 4432  0.507042             1.0          1.0       1.0       1.000000
 2091  0.690141             0.5          0.5       1.0       0.333333

       MonthlyCharges  TotalCharges
 974         0.574065      0.521988
 619         0.600000      0.058176
 4289        0.016958      0.122392
 3721        0.022444      0.002296
 4533        0.865337      0.869628
 ...              ...           ...
 4829        0.265337      0.058337
 5176        0.273317      0.130187
 2750        0.010474      0.005822
 4432        0.220948      0.158326
 2091        0.017456      0.109860

 [1407 rows x 7 columns])

In [115]:
data_train = pd.concat([xtrain, ytrain], axis=1)
data_test = pd.concat([xtest, ytest], axis=1)
data_train, data_test

(        tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 1413  0.901408             1.0          1.0       1.0       0.333333
 7003  0.352113             0.0          1.0       0.0       0.666667
 3355  0.943662             0.0          1.0       1.0       0.333333
 4494  0.028169             0.0          0.0       0.0       0.666667
 3541  0.676056             1.0          0.0       0.0       0.000000
 ...        ...             ...          ...       ...            ...
 3451  0.901408             0.0          0.0       0.5       0.000000
 5123  0.197183             0.0          0.0       0.0       0.333333
 4135  0.492958             1.0          1.0       1.0       0.333333
 4249  0.126761             0.0          0.0       0.5       1.000000
 1505  0.000000             0.0          0.0       0.0       0.666667

       MonthlyCharges  TotalCharges  Churn
 1413        0.759601      0.699279      0
 7003        0.173067      0.115820      0
 3355        0.716209      0.724538      0
 4494        0.657357      0.024954      0
 3541        0.221945      0.236782      0
 ...              ...           ...    ...
 3451        0.524190      0.523471      0
 5123        0.567581      0.130239      1
 4135        0.743142      0.387774      0
 4249        0.473815      0.073996      0
 1505        0.561596      0.006450      1

 [5625 rows x 8 columns],
         tenure  OnlineSecurity  TechSupport  Contract  PaymentMethod  \
 974   0.816901             0.0          1.0       1.0       0.333333
 619   0.084507             0.0          0.0       0.0       0.000000
 4289  0.746479             0.5          0.5       1.0       1.000000
 3721  0.014085             0.5          0.5       0.0       1.000000
 4533  0.985915             0.0          0.0       1.0       0.000000
 ...        ...             ...          ...       ...            ...
 4829  0.154930             0.0          0.0       0.0       0.000000
 5176  0.352113             1.0          1.0       0.0       1.000000
 2750  0.028169             0.5          0.5       0.5       1.000000
 4432  0.507042             1.0          1.0       1.0       1.000000
 2091  0.690141             0.5          0.5       1.0       0.333333

       MonthlyCharges  TotalCharges  Churn
 974         0.574065      0.521988      0
 619         0.600000      0.058176      0
 4289        0.016958      0.122392      0
 3721        0.022444      0.002296      1
 4533        0.865337      0.869628      0
 ...              ...           ...    ...
 4829        0.265337      0.058337      0
 5176        0.273317      0.130187      0
 2750        0.010474      0.005822      0
 4432        0.220948      0.158326      0
 2091        0.017456      0.109860      0

 [1407 rows x 8 columns])

In [116]:
import os
import joblib
if not os.path.exists("../data/processed"):
    os.makedirs("../data/processed")
data_train.to_csv("../data/processed/train.csv", index=False)
data_test.to_csv("../data/processed/test.csv", index=False)
joblib.dump(le, "../models/label_encoder.joblib")
joblib.dump(scaler, "../models/scaler.joblib")

['../models/scaler.joblib']